.head{
    width: 100vw;
    height: 90px;
    background-color:white;
    border: 2px solid white;
    
}
.bgrcolor{
    width: 100vw;
    height: 150vh;
    background-color: #7B7B7B29;
}
.material-icons{
    position: absolute;
    right: 380px;
    top: 160px;
    font-size: 50px !important;
}
.headding{
    position: absolute;
    font-size:20px;
    right: 230px;
    top: 150px;
}
.flex-container{
    margin-top: 150px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.flexitem1{
    width: 240px;
    height: 260px;
    background-color: white;
    position: relative;
    left: 300px;
    border-radius: 6px;
    
}
.flexitem2{
    width: 240px;
    height: 260px;
    background-color: white;
    position: relative;
    left: 340px;
    top: 20px;
    border-radius: 6px;

}
.flexitem3{
    width: 240px;
    height: 260px;
    background-color: white;
    position: relative;
    left: 380px;
    top: 20px;
    border-radius: 6px;
}
.flexitem4{
    width: 240px;
    height: 260px;
    background-color: white;
    position: relative;
    top: 320px;
    right: 420px;
    border-radius: 6px;
}
.flexitem5{
    width: 240px;
    height: 260px;
    background-color: white;
    position: relative;
    top:320px;
    right: 380px;
    border-radius: 6px;

    
    
}